
/HashSlinger/bin
/HashSlinger/obj
/HashSlingerCore/bin
/HashSlingerCore/obj
/HashSlingerTestRunner/bin
/HashSlingerTestRunner/obj
/HashSlingerTests/bin
/HashSlingerTests/obj
*.suo
/HashSlingerCore/HashSlingerCore.csproj.user
/HashSlingerTestRunner/HashSlingerTestRunner.csproj.user
/HashSlinger/HashSlinger.csproj.user