
/HashSlinger/bin
/HashSlinger/obj
/HashSlingerCore/bin
/HashSlingerCore/obj
/HashSlingerTestRunner/bin
/HashSlingerTestRunner/obj
/HashSlingerTests/bin
/HashSlingerTests/obj
*.suo
/HashSlingerCore/HashSlingerCore.csproj.user
/HashSlingerTestRunner/HashSlingerTestRunner.csproj.user
/HashSlinger/HashSlinger.csproj.user
/HashSlingerTests/TestResult.xml
/Installer/HashSlinger.wixpdb
/Installer/HashSlinger.wixobj
/Installer/HashSlinger.msi

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
